.App {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
}
button{
  border-radius: 100%;
  cursor: pointer;
}
button:hover{
  opacity: .8;
  transform: scale(1.03);
  transition: .5s;
}
.product_shoes{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid #000;
}
.basket_shoes{

}
